.site-header {
  margin-bottom: var(--space-m);
  padding-top: var(--space-m);
  padding-bottom: var(--space-m);
  line-height: var(--line-height-single);
}

.site-title {
  font-weight: 600;
}

.site-logo {
  margin-right: var(--space-2xs);
  fill: var(--accent-10);
}

.header-links {
  column-gap: var(--space-2xs);

  > * {
    padding-block: var(--space-2xs);
    padding-inline: var(--space-xs);
  }
}

.theme-switcher {
  vertical-align: text-top;
  fill: var(--gray-10);

  &:hover {
    fill: var(--accent-10);
  }
}

.icon {
  display: inline-block;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.dark .icon-moon {
  display: none;
}

.light .icon-sun {
  display: none;
}
