$boz-prose-body: rgb(0, 0, 0);


.prose {
  color: $boz-prose-body;
  max-width: 65ch;

  .lead {
  }


  font-size: 1em;
  line-height: var(--line-height-tight);

  & blockquote {
    max-width: 60ch;
    margin-left: 1em;
    margin-right: 2em;
    font-size: 0.9em;
    line-height: var(--line-height-display);
    border-left: 0.2em solid var(--color-primary-700);
    padding-left: 1em;
  }

  &.prose-justify {
    hyphens: auto;
    text-align: justify;
  }
}